<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>reAlBhed</title>

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

</head>
<body>
  <div class="container" id="app">
    <div class="row">
      <h1>reAlBhed</h1>
      <p>Use <strong>[</strong>square brackets<strong>]</strong> for bits you don't want translated</p>

      <div class="row">
        <div class="six columns">
          <label>
            <input type="radio" id="altoeng" value="altoeng" v-model="translationType">
            <span class="label-body">Al-Bhed to English</span>
          </label>
        </div>

        <div class="six columns">
          <label>
            <input type="radio" id="engtoal" value="engtoal" v-model="translationType">
            <span class="label-body">English to Al-Bhed</span>
          </label>
        </div>
      </div>

      <div class="row primers">
        <div v-for="primer in primers" class="two columns primer" v-bind:class="{ 'obtained': primer.obtained }">
          <span v-on:click="primerClicked($index)">{{primer.name}}</span>
        </div>
      </div>
      

      <div class="row">
        <label for="inField">In</label>
        <textarea class="u-full-width" id="inField" v-model="input"></textarea>
      </div>
      
      <div class="row">
        <label for="outField">Out</label>
        <p class="u-full-width output" id="outField">{{{output}}}</p>
      </div>

    </div>
  </div>

  <script src="js/vue.js"></script>
  <script src="js/index.js"></script>
</body>
</html>
