<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>reAlBhed</title>

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

</head>
<body>
  <div class="container" id="app">
    <div class="row">
      <h1>reAlBhed</h1>
      <label for="inField">In</label>
      <textarea class="u-full-width" id="inField" v-model="input"></textarea>
      <label for="outField">Out</label>
      <textarea class="u-full-width" id="outField" v-model="output" disabled></textarea>
    </div>
  </div>

  <script src="js/vue.js"></script>
  <script src="js/index.js"></script>
</body>
</html>
